.header {
    padding-top: 8px;
    margin: 0 auto;
    font-weight: bold;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

@media screen and (min-width: 768px) {
    .nav {
        flex-direction: row;
        gap: 24px;
    }
}

@media only screen and (min-width: 1440px) {
    .nav {
        align-items: start;
        font-size: 24px;
    }
}

.item {
    color: #101828;
}

.item:hover,
.item:focus {
    color: #E44848;
}